/*
 before/ after
 it is not working with images
 but you can put the img in a div then it will work
*/

/*------------------------------------*/
img{
    width: 100%;
    display: block;   
}
#div1{
    width: 40vh;
    margin: 100px auto; /* 100 left and right, auto top and bottom*/
    position: relative;   
}
#div1::before{
    content: '';
    border: 3px solid gray;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: -40%;
    left: -40%;
    z-index: -2;
    /*-----muss noch nicht wissen---*/
    transition: all 0.5s linear;
}
#div1::after{
    content: '';
    background: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: -20%;
    left: -20%;
    z-index: -1;
    /* ----muss noch nicht wissen----*/
    transition: all 0.5s linear;
}
/* ----muss noch nicht wissen----*/

#div1:hover::before,
#div1:hover::after {
    top: 0;
    left: 0;
}


/* ::first-line -- ::first-letter*/
#div2{
    width:400px;
}

#div2::first-letter{
    font-size: 100px;
    background: white;
}

#div2::first-line{
    font-weight: bolder;
    background: lightgray;
}