/* 
text-shadow
box-shadow
*/

h1{
    text-shadow: 2px -1px 1px gray; /* text-shadow: x(2px) y(-1px) blur(1px) color(red);*/#
}
div{
    width: 200px;
    height: 100px;
    display: inline-block;
    background: gray;
    margin: 20px;
    transition: all 0.2s linear;
} 

div:hover{
    transform: translate(50px, 50px);
}